	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Herit 서비스 솔루션 관리자">
	<title>Herit 관리자</title>
	<link rel="stylesheet" th:href="@{/resources/css/jquery-ui-1.9.2.custom.min.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/yearpicker.css}" />	
	<link rel="stylesheet" th:href="@{/resources/css/common.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/contents.css}" />
	
	<script type="text/javascript" th:src="@{/resources/js/jquery-1.9.1.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/common.js}"></script>	
	<script type="text/javascript" th:src="@{/resources/js/plugins.js}"></script>	
	<script type="text/javascript" th:src="@{/resources/js/menu.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/herit.js}"></script>