<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">

	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=3" th:include="admin/chk/chk_menu"></th:block>
		<!-- //SNB -->
		
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">건강병원</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">검진데이터</a></li>
					<li><a href="">건강병원</a></li>
				</ol>
			</div>
			<form name="frm" id="frm">
			<input type="hidden" name="seq" id="seq" th:value="${info.seq}">
			<table class="tblTypeC mtMmd">
				<colgroup>
					<col width="100px">
					<col>
					<col width="100px">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<th>병원명</th>
						<td><input type="text" name="h_name" id="h_name" maxlength="100" th:value="${info.h_name}"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>담당자</th>
						<td><input type="text" name="name" id="name" maxlength="10" th:value="${info.name}"></td>
						<th>연락처</th>
						<td><input type="text" name="phone" id="phone" maxlength="14" th:value="${info.phone}"></td>
					</tr>
					<tr>
						<th>주소</th>
						<td colspan="3"><input type="text" name="addr" id="addr" maxlength="200" th:value="${info.addr}"></td>
					</tr>								
				</tbody>
			</table>
			</form>
			<div class="btnWrap mtMmd">
				<button id="btnReg" class="btnDefault">저장</button>
				<button id="btnCancel" class="btnDefault">취소</button>
			</div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('2', '0', '0'); //menu script	
	
	$('#btnReg').click(function(){
		if ($("#h_name").val() == "")
		{
			alert("병원명을 입력하지 않았습니다!!!");
			$("#h_name").focus();
			return;
		}			
		if ($("#name").val() == "")
		{
			alert("성명을 입력하지 않았습니다!!!");
			$("#name").focus();
			return;
		}
		
		var params = {
				"seq"   : $("#seq").val(),
				"h_name" : $("#h_name").val(),
				"name" : $('#name').val(),
				"phone" : $("#phone").val(),
				"addr" : $("#addr").val()
		};
		var url = "hinsert";
		var url2 = "hlist";
		if ($("#seq").val() != "0")
		{
			url = "hmodify";
			url2 = "hregform";
		}
		goJsonInput(params, url, url2);	
	});
	$('#btnCancel').click(function(){
		location.href="hlist";
	});	
});
</script>