<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">

	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=3" th:include="admin/chk/chk_menu"></th:block>
		<!-- //SNB -->
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">건강병원 상세</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">검진데이터</a></li>
					<li><a href="">건강병원</a></li>
				</ol>
			</div>
			<form name="frm" id="frm" mehtod="post">
			<input type="hidden" name="seq" id="seq" th:value="${info.seq}">	
			<table class="tblTypeC mtMmd">
				<colgroup>
					<col width="100px">
					<col>
					<col width="100px">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<th>병원명</th>
						<td colspan="3" th:text="${info.h_name}">
					</tr>
					<tr>
						<th>담당자</th>
						<td th:text="${info.name}">
						<th>연락처</th>
						<td th:text="${info.phone}">
					</tr>
					<tr>
						<th>주소</th>
						<td colspan="3" th:text="${info.addr}">
					</tr>								
				</tbody>
			</table>
			</form>
			<div class="btnWrap mtMmd">
				<button type="button" id="btnUpdate" class="btnDefault">수정</button>
				<button type="button" id="btnDelete" class="btnDefault">삭제</button>
				<button type="button" id="btnList"   class="btnDefault">목록</button>
			</div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
<script>
$(document).ready(function() {
	load_fnc('2', '0', '0'); //menu script	
	
	$('#btnDelete').click(function(){
		var params = {
				"seq" : $("#seq").val()
		};
		goJsonInput(params, "hdelete", "hlist");			
	});	
	$('#btnUpdate').click(function(){
		frm.action = "hregform";
		frm.submit();		
	});	
	
	$('#btnList').click(function(){
		location.href="hlist";
	})	
});
</script>