<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Herit 서비스 솔루션 관리자">
	<title>Herit 관리자</title>
	<link rel="stylesheet" href="/resources/css/common.css" />
	<link rel="stylesheet" href="/resources/css/contents.css" />
	<script type="text/javascript" src="/resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/resources/js/common.js"></script>
	<script type="text/javascript">
		$(function(){
			// 카테고리 등록/수정 - 팝업
			var btnEdit = $('.popCate .btnEdit');
			var btnDel = $('.popCate .btnDel');
			var btnSave = $('.popCate .btnDel');
			var btnAdd = $('.popCate .btnAdd');
			$(document).on('click', '.btnEdit', function(){ // 수정
				var cateName =  $(this).parent().siblings('.name').text();
				$(this).parents('.wrapper').after('<div class="wrapInput"><input type="text" name="" value="' + cateName + '"><div class="btn"><a href="" class="btnSave"><img src="/resources/images/contents/btn_edit01.png" alt="저장"></a><a href="" class="btnDel"><img src="/resources/images/contents/btn_edit03.png" alt="삭제"></a></div></div>');
				$(this).parents('.wrapper').remove();
				return false
			});
			$(document).on('click', '.btnSave', function(){ // 완료
				var val = $(this).parent().siblings('input').val();
				$(this).parents('.wrapInput').after('<div class="wrapper"><p class="name">' + val + '</p><div class="btn fr"><a href="" class="btnEdit"><img src="/resources/images/contents/btn_edit02.png" alt="수정"></a><a href="" class="btnDel"><img src="/resources/images/contents/btn_edit03.png" alt="삭제"></a></div></div>');
				$(this).parents('.wrapInput').remove();
				return false
			});
			$(document).on('click', '.btnDel', function(){ // 삭제
				var q = confirm('정말 삭제하시겠습니까? 삭제후에는 복구가 불가능합니다');
				if(q == true){
					$(this).parents('tr').remove();
				} else {

				};
				return false
			});
			btnAdd.on('click', function(){ //항목 추가
				$(this).parents('table').find('tbody').append('<tr><td><div class="wrapInput"><input type="text" name="" value=""><div class="btn"><a href="" class="btnSave"><img src="/resources/images/contents/btn_edit01.png" alt="저장"></a><a href="" class="btnDel"><img src="/resources/images/contents/btn_edit03.png" alt="삭제"></a></div></div></td></tr>');
				return false
			});
		});
	</script>
</head>
<body>
<div class="wrap">
	<!-- header -->
	<div class="header">
		<div class="innerWrap">
			<h1 class="logo"><a href=""><img src="/resources/images/common/logo.png" alt="HERIT"></a></h1>
			<div class="fr">
				<div class="infoLog">
					관리자
					<span class="btnWrap"><a href="" class="btnDefault"><img src="/resources/images/common/ico_log.gif" alt=""> 로그아웃</a></span>
				</div>
				<div class="wrapGnb">
					<ul>
						<li><a href="">회원관리</a>
							<ul class="depth2">
								<li><a href="">정회원</a></li>
								<li><a href="">휴면회원</a></li>
								<li><a href="">탈퇴회원</a></li>
							</ul>
						</li>
						<li><a href="">검진데이터</a>
							<ul class="depth2">
								<li><a href="">건강검진 요청</a></li>
								<li><a href="">건강검진 현황</a></li>
								<li><a href="">건강병원 등록</a></li>
							</ul>
						</li>
						<li><a href="">미션관리</a>
							<ul class="depth2">
								<li><a href="">미션 달성 현황</a></li>
								<li><a href="">걸음수 미션 현황</a></li>
								<li><a href="">건강검진 미션 현황</a></li>
								<li><a href="">공유 미션 현황</a></li>
							</ul>
						</li>
						<li><a href="">포인트관리</a>
							<ul class="depth2">
								<li><a href="">포인트 현황</a></li>
								<li><a href="">개인별 포인트 현황</a></li>
								<li><a href="">상품관리</a></li>
								<li><a href="">포인트 몰</a></li>
								<li><a href="">구매내역</a></li>
							</ul>
						</li>
						<li><a href="">결제관리</a>
							<ul class="depth2">
								<li><a href="">결제 내역</a></li>
								<li><a href="">요금제 정보</a></li>
							</ul>
						</li>
						<li><a href="">통계</a>
							<ul class="depth2">
								<li><a href="">통계</a></li>
							</ul>
						</li>
						<li><a href="" class="active">관리자관리</a>
							<ul class="depth2">
								<li><a href="">관리자 관리</a></li>
								<li><a href="">권한 관리</a></li>
								<li><a href="">문의 내역</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<div class="wrapSnb">
			<h2 class="tit">관리자 관리</h2>
			<ul class="snb">
				<li><a href="">관리자 관리</a></li>
				<li><a href="">권한 관리</a></li>
				<li><a href="" class="active">문의 내역</a></li>
			</ul>
		</div>
		<!-- //SNB -->
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">문의 내역</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">관리자 관리</a></li>
					<li><a href="">문의 내역</a></li>
				</ol>
			</div>
			<div class="bxSrchForm">
				<div class="fl">
					<p class="txt">총 22건</p>
				</div>
				<div class="fr">
					<select name="">
						<option value="">일반 문의</option>
					</select>
				</div>
			</div>
			<div class="btnWrap mtSm">
				<a href="" class="btnPrimary sizeSm">전체</a>
				<a href="" class="btnColorH sizeSm">미답변</a>
				<a href="" class="btnColorH sizeSm">답변완료</a>
			</div>
			<table class="tblTypeA listQna mtSm">
				<colgroup>
					<col>
					<col width="10%">
					<col width="16%">
					<col width="14%">
				</colgroup>
				<thead>
					<tr>
						<th>문의 내용</th>
						<th>작성자</th>
						<th>문의일자</th>
						<th>답변여부</th>
					</tr>
				</thead>				
				<tbody>
					<tr>
						<td class="tal"><a href="">결제를 완료했는데도 검진데이터를 볼 수 없습니다. 연동은 언제 되는건가요?</a></td>
						<td>홍길동</td>
						<td>2019.12.31 15:30</td>
						<td>
							<p class="btnWrap"><span class="btnColorH w70">미답변</span></p>
						</td>
					</tr>
					<tr>
						<td class="tal"><a href="">이 서비스에 대한 불만사항을 이야기 해보려고 합니다. 쓰다보니 이것저것 쓸것들이 많은데 자세한 사항은 상세내용을 확인하여 보는걸로 하겠습니 …..</a></td>
						<td>홍길동</td>
						<td>2019.12.31 15:30</td>
						<td>
							<p class="btnWrap"><span class="btnColorI w70">답변완료</span></p>
						</td>
					</tr>
					<tr>
						<td class="tal"><a href="">이 서비스에 대한 불만사항을 이야기 해보려고 합니다. 쓰다보니 이것저것 쓸것들이 많은데 자세한 사항은 상세내용을 확인하여 보는걸로 하겠습니 …..</a></td>
						<td>홍길동</td>
						<td>2019.12.31 15:30</td>
						<td>
							<p class="btnWrap"><span class="btnColorI w70">답변완료</span></p>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- paging -->
			<div class="paging">
				<a class="btnFirst" href="">첫 페이지</a>
				<a class="btnPrev" href="">이전 페이지</a>
				<a href="" class="on">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href="">7</a>
				<a href="">8</a>
				<a href="">9</a>
				<a href="">10</a>
				<a class="btnNext" href="">다음 페이지</a>
				<a class="btnLast" href="">마지막 페이지</a>
			</div>
			<!-- // Paging -->
			<!-- btn -->
			<div class="btnWrap mtMmd">
				<a href="javascript:openLayer('.popCate')" class="btnDefault">카테고리 수정</a>
			</div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
	<!-- footer -->
	<div class="footer">
		<div class="innerWrap">
			<p class="logo"><img src="/resources/images/common/logo_footer.gif" alt="HERIT"></p>
			<p class="copy">Copyright (c) 2020 neodreams. All right reserved. </p>
		</div>
	</div>
	<!-- //footer -->
</div>
<!-- laeyr poup - 카테고리 등록/수정 -->
<div class="wrapPop popCate">
	<div class="popCnt sizeMd">
		<h1 class="titPop">카테고리 등록/수정</h1>
		<p class="btnClose">
			<a href=""><img src="/resources/images/common/btn_close_pop.png" alt="레이어 닫기"></a>
		</p>
		<div class="cnt">
			<div class="bxCnt">
				<p class="txt">카테고리를 등록/수정해주세요</p>
				<table class="tblTypeA mtSm">
					<thead>
						<tr>
							<th>카테고리명</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td><a href="" class="btnAdd"><img src="/resources/images/contents/btn_edit04.png" alt="항목 추가"></a></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td>
								<div class="wrapper">
									<p class="name">일반 문의 </p>
									<div class="btn fr">
										<a href="" class="btnEdit"><img src="/resources/images/contents/btn_edit02.png" alt="수정"></a>
										<a href="" class="btnDel"><img src="/resources/images/contents/btn_edit03.png" alt="삭제"></a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="wrapper">
									<p class="name">건강검진 문의 </p>
									<div class="btn fr">
										<a href="" class="btnEdit"><img src="/resources/images/contents/btn_edit02.png" alt="수정"></a>
										<a href="" class="btnDel"><img src="/resources/images/contents/btn_edit03.png" alt="삭제"></a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- btn -->
			<p class="btnWrap">
				<a href="" class="btnDefault btnClose">닫기</a>
			</p>
		</div>
	</div>
</div>
<!-- //laeyr poup - 카테고리 등록/수정 -->
</body>
</html>