<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Herit 서비스 솔루션 관리자">
	<title>Herit 관리자</title>
	<link rel="stylesheet" href="/resources/css/common.css" />
	<link rel="stylesheet" href="/resources/css/contents.css" />
	<script type="text/javascript" src="/resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/resources/js/common.js"></script>
	<!-- date picker -->
	<script type="text/javascript" src="/resources/js/plugins.js"></script>
	<link rel="stylesheet" href="/resources/css/jquery-ui-1.9.2.custom.min.css">
</head>
<body>
<div class="wrap">
	<!-- header -->
	<div class="header">
		<div class="innerWrap">
			<h1 class="logo"><a href=""><img src="/resources/images/common/logo.png" alt="HERIT"></a></h1>
			<div class="fr">
				<div class="infoLog">
					관리자
					<span class="btnWrap"><a href="" class="btnDefault"><img src="/resources/images/common/ico_log.gif" alt=""> 로그아웃</a></span>
				</div>
				<div class="wrapGnb">
					<ul>
						<li><a href="">회원관리</a>
							<ul class="depth2">
								<li><a href="">정회원</a></li>
								<li><a href="">휴면회원</a></li>
								<li><a href="">탈퇴회원</a></li>
							</ul>
						</li>
						<li><a href="">검진데이터</a>
							<ul class="depth2">
								<li><a href="">건강검진 요청</a></li>
								<li><a href="">건강검진 현황</a></li>
								<li><a href="">건강병원 등록</a></li>
							</ul>
						</li>
						<li><a href="">미션관리</a>
							<ul class="depth2">
								<li><a href="">미션 달성 현황</a></li>
								<li><a href="">걸음수 미션 현황</a></li>
								<li><a href="">건강검진 미션 현황</a></li>
								<li><a href="">공유 미션 현황</a></li>
							</ul>
						</li>
						<li><a href="" class="active">포인트관리</a>
							<ul class="depth2">
								<li><a href="">포인트 현황</a></li>
								<li><a href="">개인별 포인트 현황</a></li>
								<li><a href="">상품관리</a></li>
								<li><a href="">포인트 몰</a></li>
								<li><a href="">구매내역</a></li>
							</ul>
						</li>
						<li><a href="">결제관리</a>
							<ul class="depth2">
								<li><a href="">결제 내역</a></li>
								<li><a href="">요금제 정보</a></li>
							</ul>
						</li>
						<li><a href="">통계</a>
							<ul class="depth2">
								<li><a href="">통계</a></li>
							</ul>
						</li>
						<li><a href="">관리자관리</a>
							<ul class="depth2">
								<li><a href="">관리자 관리</a></li>
								<li><a href="">권한 관리</a></li>
								<li><a href="">문의 내역</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<div class="wrapSnb">
			<h2 class="tit">포인트 관리</h2>
			<ul class="snb">
				<li><a href="">포인트 현황</a></li>
				<li><a href="">개인별 포인트 현황</a></li>
				<li><a href="">상품관리</a></li>
				<li><a href="" class="active">포인트 몰</a></li>
				<li><a href="">구매내역</a></li>
			</ul>
		</div>
		<!-- //SNB -->
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">포인트 몰 상세</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">포인트 관리</a></li>
					<li><a href="">포인트 몰</a></li>
				</ol>
			</div>
			<table class="tblTypeC mtMmd">
				<colgroup>
					<col width="100">
					<col>
					<col width="100">
					<col>
				</colgroup>
				<tr>
					<th>상품명</th>
					<td colspan="3">[CU] 2천원 상품권</td>
				</tr>
				<tr>
					<th>상품 이미지</th>
					<td colspan="3">
						<div class="thumbProd">
							<img src="/resources/images/_temp/@prod01.jpg" alt="">
							<p class="txt">등록 이미지</p>
						</div>
					</td>
				</tr>
				<tr>
					<th>상태</th>
					<td>구매가능</td>
					<th>구매한 상품 수</th>
					<td>303개</td>
				</tr>
				<tr>
					<th>구매 포인트</th>
					<td colspan="3">1,000 Point</td>
				</tr>
				<tr>
					<th>상품 상세 설명</th>
					<td colspan="3">
						<div class="wrapCnt">
<pre>
[상품명]
[CU] 2천원 상품권

[상품소개]
-전국 CU 매장에서 사용 가능한 상품권입니다.

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

[서비스 안내]
핸드폰 지참 후 매장 방문하여 소유한 쿠폰의 수신문자를 매장직원에게 제시 후 사용 가능
</pre>
						</div>
					</td>
				</tr>
			</table>			
			<div class="wrapBtn mtMmd">
				<div class="btnWrap fl">
					<a href="" class="btnDefault">수정</a>
					<a href="" class="btnDefault">삭제</a>
					<a href="" class="btnDefault">목록</a>
				</div>
				<div class="btnWrap fr">
					<a href="javascript:openLayer('.popListBuyer');" class="btnDefault">구매자 명단</a>
				</div>
			</div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
	<!-- footer -->
	<div class="footer">
		<div class="innerWrap">
			<p class="logo"><img src="/resources/images/common/logo_footer.gif" alt="HERIT"></p>
			<p class="copy">Copyright (c) 2020 neodreams. All right reserved. </p>
		</div>
	</div>
	<!-- //footer -->
</div>
<!-- laeyr poup - 구매자 명단 -->
<div class="wrapPop popListBuyer">
	<div class="popCnt sizeLg">
		<h1 class="titPop">[CU] 2천원 상품권</h1>
		<p class="btnClose">
			<a href=""><img src="/resources/images/common/btn_close_pop.png" alt="레이어 닫기"></a>
		</p>
		<div class="cnt">
			<div class="bxSrchForm mt0">
				<div class="fl w50">
					<label for="">구매일</label>
					<input type="text" value="" class="datePic"> <span class="dash">~</span> <input type="text" value="" class="datePic">
				</div>
				<div class="fr tar w50">
					<select name="" class="mlSm">
						<option value="">ID</option>
						<option value="">연락처</option>
						<option value="">성명</option>
					</select>
					<input type="text" name="" class="mlXs w40">
					<button type="button" class="btnPrimary">검색</button>
				</div>
			</div>
			<h2 class="cntTitLg">구매자 리스트 <small>(총 13명)</small></h2>
			<table class="tblTypeA mtSm">
				<thead>
					<tr>
						<th>날짜</th>
						<th>ID</th>
						<th>성명</th>
						<th>연락처</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>					
				</tbody>
			</table>
			<!-- paging -->
			<div class="paging">
				<a class="btnFirst" href="">첫 페이지</a>
				<a class="btnPrev" href="">이전 페이지</a>
				<a href="" class="on">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href="">7</a>
				<a href="">8</a>
				<a href="">9</a>
				<a href="">10</a>
				<a class="btnNext" href="">다음 페이지</a>
				<a class="btnLast" href="">마지막 페이지</a>
			</div>
			<!-- // Paging -->
			<!-- btn -->
			<p class="btnWrap">
				<a href="" class="btnDefault btnClose">확인</a>
			</p>
		</div>
	</div>
</div>
<!-- //laeyr poup - 구매자 명단 -->
</body>
</html>