<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">

	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=4" th:include="admin/point/point_menu"></th:block>
		<!-- //SNB -->
		
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">포인트 몰 상세</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">포인트 관리</a></li>
					<li><a href="">포인트 몰</a></li>
				</ol>
			</div>
			<form name="frm" id="frm" method="post">
			<input type="hidden" name="seq"  id="seq"  th:value="${info.seq}">	
			<table class="tblTypeC mtMmd">
				<colgroup>
					<col width="100">
					<col>
					<col width="100">
					<col>
				</colgroup>
				<tr>
					<th>상품명</th>
					<td colspan="3" th:text="${info.product_name}">
				</tr>
				<tr>
					<th>상품 이미지</th>
					<td colspan="3">
						<div class="thumbProd">
							<img th:src="|/img/${info.product_img}|" alt="">
							<p class="txt">등록 이미지</p>
						</div>
					</td>
				</tr>
				<tr>
					<th>상태</th>
					<td th:text="${info.mall_sts_name}">
					<th>구매한 상품 수</th>
					<td th:text="|${info.buy_qty} 개|">
				</tr>
				<tr>
					<th>구매 포인트</th>
					<td colspan="3" th:text="|${info.f_amt} Point|">
				</tr>
				<tr>
					<th>상품 상세 설명</th>
					<td colspan="3">
						<div class="wrapCnt"><pre>[[${info.content}]]</pre></div>
					</td>
				</tr>
			</table>
			</form>			
			<div class="wrapBtn mtMmd">
				<div class="btnWrap fl">
					<button id="btnModify" class="btnDefault">수정</button>
					<button id="btnDelete" class="btnDefault">삭제</button>
					<button id="btnList"   class="btnDefault">목록</button>
				</div>
				<div class="btnWrap fr">
					<a href="javascript:openLayer('.popListBuyer');" class="btnDefault">구매자 명단</a>
				</div>
			</div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('4', '0', '0'); //menu script v
	
    $('#btnModify' ).click( function() {
        frm.action = "mallregform";
        frm.submit();
    });	 
	
    $('#btnDelete' ).click( function() {
    	var params = {
    		"seq" : $("#seq").val()
    	};
    	goJsonInput(params, "malldelete", "malllist");			 
    });	
    
    $('#btnList' ).click( function() {
    	frm.seq.value = "0";
    	frm.action = "malllist";
    	frm.submit();
    });		
});
</script>


<!-- laeyr poup - 구매자 명단 -->
<div class="wrapPop popListBuyer">
	<div class="popCnt sizeLg">
		<h1 class="titPop">[CU] 2천원 상품권</h1>
		<p class="btnClose">
			<a href=""><img src="/resources/images/common/btn_close_pop.png" alt="레이어 닫기"></a>
		</p>
		<div class="cnt">
			<div class="bxSrchForm mt0">
				<div class="fl w50">
					<label for="">구매일</label>
					<input type="text" value="" class="datePic"> <span class="dash">~</span> <input type="text" value="" class="datePic">
				</div>
				<div class="fr tar w50">
					<select name="" class="mlSm">
						<option value="">ID</option>
						<option value="">연락처</option>
						<option value="">성명</option>
					</select>
					<input type="text" name="" class="mlXs w40">
					<button type="button" class="btnPrimary">검색</button>
				</div>
			</div>
			<h2 class="cntTitLg">구매자 리스트 <small>(총 13명)</small></h2>
			<table class="tblTypeA mtSm">
				<thead>
					<tr>
						<th>날짜</th>
						<th>ID</th>
						<th>성명</th>
						<th>연락처</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>
					<tr>
						<td>2019.12.24 15:35</td>
						<td>naodkls@nts.com</td>
						<td>홍길동</td>
						<td>010-3756-1513</td>
					</tr>					
				</tbody>
			</table>
			<!-- paging -->
			<div class="paging">
				<a class="btnFirst" href="">첫 페이지</a>
				<a class="btnPrev" href="">이전 페이지</a>
				<a href="" class="on">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<a href="">7</a>
				<a href="">8</a>
				<a href="">9</a>
				<a href="">10</a>
				<a class="btnNext" href="">다음 페이지</a>
				<a class="btnLast" href="">마지막 페이지</a>
			</div>
			<!-- // Paging -->
			<!-- btn -->
			<p class="btnWrap">
				<a href="" class="btnDefault btnClose">확인</a>
			</p>
		</div>
	</div>
</div>
<!-- //laeyr poup - 구매자 명단 -->
