<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">

	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=4" th:include="admin/point/point_menu"></th:block>
		<!-- //SNB -->
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">포인트 몰</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">포인트 관리</a></li>
					<li><a href="">포인트 몰</a></li>
				</ol>
			</div>
			<div class="clearfix mtXs">
				<h3 class="cntTitLg fl">상품 리스트</h3>
				<div class="btnWrap fr"><a th:href="@{mallregform}" th:text="@{상품등록}" class="btnDefault"></a></div>
			</div>
			<form name="frm" id="frm" method="post">
			<input type="hidden" name="pageNo" id="pageNo"  th:value="${paging.pageNo}" />					
			<table class="tblTypeA mtXs">
				<thead>
					<tr>
						<th>상품명</th>
						<th>상태</th>
						<th>구매 포인트</th>
						<th>구매수</th>
						<th>등록일</th>
					</tr>
				</thead>
				<tbody>
				    <th:block th:if="${totalCnt == 0}">
					<tr>
 						<td colspan="4" class="noData">
							<p class="ico"><img src="/resources/images/contents/ico_nodata03.gif" alt=""></p>
							등록된 정보가 없습니다.
						</td>
					</tr>
					</th:block>
					<th:block th:if="${totalCnt > 0}">
					<tr th:each="info : ${list}">
						<td><a th:href="@{malldetail(seq=${info.seq})}" th:text="${info.product_name}"></a></td>
						<td th:text="${info.mall_sts_name}">
						<td th:text="|${info.f_amt} point|">
						<td th:text="|${info.buy_qty} 개|">
						<td th:text="${info.reg_dt}">
					</tr>					
					</th:block>
				</tbody>
			</table>
			<!-- paging -->
			<th:block th:include="admin/layout/common_paging"></th:block>
			<!-- // Paging -->
			</form>	
			<div class="btnWrap mtSm">
				<a th:href="@{mallregform}" th:text="@{상품등록}" id="btnReg" class="btnDefault"></a>
			</div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('4', '0', '0'); //menu script 
});
</script>	