<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">

	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=1" th:include="admin/point/point_menu"></th:block>
		<!-- //SNB -->	
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">포인트 현황</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">포인트 관리</a></li>
					<li><a href="">포인트 현황</a></li>
				</ol>
			</div>
			<h3 class="cntTitLg">전체 누적 (과거년도 포함)</h3>
			<div class="bxCnt mtSm">
				<table class="tblTypeA">
					<thead>
						<tr>
							<th>지급 포인트</th>
							<th>사용 포인트</th>
							<th>소멸 포인트</th>
							<th>보유 포힌트</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>200,000</td>
							<td>160,000</td>
							<td>150,000</td>
							<td>15,300</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="slctDate">
				<a href=""><img src="/resources/images/contents/btn_date_prev.gif" alt="이전"></a><span class="yearPic"><input type="text" readonly value="2019"></span><a href=""><img src="/resources/images/contents/btn_date_next.gif" alt="다음"></a>
			</div>
			<script type="text/javascript" src="/resources/js/moment.min.js"></script>
			<script type="text/javascript" src="/resources/js/datepicker.all.js"></script>
			<script type="text/javascript" src="/resources/js/datepicker.en.js"></script>
			<link rel="stylesheet" href="/resources/css/yearpicker.css">
			<script type="text/javascript">
				$(function(){
					yearPicker();
				});
			</script>
			<table class="tblTypeA mtSm">
				<thead>
					<tr>
						<th>월</th>
						<th>지급 포인트</th>
						<th>사용 포인트</th>
						<th>소멸 포인트</th>
						<th>보유 포인트</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td>총 계</td>
						<td>106,400</td>
						<td>-33,000</td>
						<td>3,400</td>
						<td>15,300</td>
					</tr>
				</tfoot>
				<tbody>
						<tr>
							<td>12월</td>
							<td>2,500</td>
							<td>-1,300</td>
							<td>50</td>
							<td>15,300</td>
						</tr>
						<tr>
							<td>11월</td>
							<td>4,000</td>
							<td>-3,000</td>
							<td>100</td>
							<td>13,200</td>
						</tr>
						<tr>
							<td>10월</td>
							<td>8,400</td>
							<td>-3,000</td>
							<td>100</td>
							<td>10,500</td>
						</tr>
						<tr>
							<td>9월</td>
							<td>9,300</td>
							<td>-3,000</td>
							<td>100</td>
							<td>8,600</td>
						</tr>
						<tr>
							<td>8월</td>
							<td>8,700</td>
							<td>-3,000</td>
							<td>100</td>
							<td>4,300</td>
						</tr>
						<tr>
							<td>7월</td>
							<td>10,000</td>
							<td>-3,000</td>
							<td>100</td>
							<td>16,230</td>
						</tr>
						<tr>
							<td>6월</td>
							<td>9,700</td>
							<td>-3,000</td>
							<td>100</td>
							<td>14,320</td>
						</tr>
						<tr>
							<td>5월</td>
							<td>6,400</td>
							<td>-3,000</td>
							<td>600</td>
							<td>10,000</td>
						</tr>
						<tr>
							<td>4월</td>
							<td>10,000</td>
							<td>-3,000</td>
							<td>400</td>
							<td>8,500</td>
						</tr>
						<tr>
							<td>3월</td>
							<td>9,700</td>
							<td>-3,000</td>
							<td>700</td>
							<td>3,200</td>
						</tr>
						<tr>
							<td>2월</td>
							<td>10,000</td>
							<td>-3,000</td>
							<td>600</td>
							<td>10,000</td>
						</tr>
						<tr>
							<td>1월</td>
							<td>9,700</td>
							<td>-3,000</td>
							<td>700</td>
							<td>7,500</td>
						</tr>
				</tbody>
			</table>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('4', '0', '0'); //menu script
	
    $('#btnSearch' ).click( function() {
        frm.action = "privatelist";
        frm.submit();
    });	 
});
</script>	