<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">

	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=1" th:include="admin/point/point_menu"></th:block>
		<!-- //SNB -->	
		<!-- contents -->
		<form name="frm" id="frm" method="post">
		<input type="hidden" name="mode" id="mode">
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">포인트 현황</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">포인트 관리</a></li>
					<li><a href="">포인트 현황</a></li>
				</ol>
			</div>
			<h3 class="cntTitLg">전체 누적 (과거년도 포함)</h3>
			<div class="bxCnt mtSm">
				<table class="tblTypeA">
					<thead>
						<tr>
							<th>지급 포인트</th>
							<th>사용 포인트</th>
							<th>소멸 포인트</th>
							<th>보유 포힌트</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${info.plus_point}">
							<td th:text="${info.minus_point}">
							<td th:text="${info.del_point}">
							<td th:text="${info.total_point}">
						</tr>
					</tbody>
				</table>
			</div>

			<div class="slctDate">
				<a href="javascript:Prev();"><img src="/resources/images/contents/btn_date_prev.gif" alt="이전"></a>
				<span class="yearPic"><input type="text" name="searchDt" id="searchDt" readonly class="yearPic" th:value="${paging.searchDt}"></span>
				<a href="javascript:Next();"><img src="/resources/images/contents/btn_date_next.gif" alt="다음"></a>
							
				<!-- a href=""><img src="/resources/images/contents/btn_date_prev.gif" alt="이전"></a><span class="yearPic"><input type="text" readonly value="2019"></span><a href=""><img src="/resources/images/contents/btn_date_next.gif" alt="다음"></a  -->
			</div>

			<table class="tblTypeA mtSm">
				<thead>
					<tr>
						<th>월</th>
						<th>지급 포인트</th>
						<th>사용 포인트</th>
						<th>소멸 포인트</th>
						<th>보유 포인트</th>
					</tr>
				</thead>
				<tfoot>
					<th:block th:if="${result == null}">
					<tr>
						<td>총 계</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					</th:block>
					<th:block th:if="${result != null}">
					<tr>
						<tr>
						    <td>총 계</td>
							<td th:text="${result.plus_point}">
							<td th:text="${result.minus_point}">
							<td th:text="${result.del_point}">
							<td th:text="${result.total_point}">
						</tr>
					</tr>
					</th:block>
									
				</tfoot>
				<tbody>
						<tr th:each="info, index : ${list}">
							<td th:text="|${info.mon} 월 |">
							<td th:text="${info.plus_point}">
							<td th:text="${info.minus_point}">
							<td th:text="${info.del_point}">
							<td th:text="${info.total_point}">
						</tr>
				</tbody>
			</table>
		</div>
		</form>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('4', '0', '0'); //menu script
	
    $('#btnSearch' ).click( function() {
        frm.action = "privatelist";
        frm.submit();
    });	 
});

function Prev()
{
	frm.mode.value = "prev";
	frm.action = "pointlist";
	frm.submit();
}
function Next()
{
	frm.mode.value = "next";
	frm.action = "pointlist";
	frm.submit();
}
</script>	