<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">

	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=3" th:include="admin/point/point_menu"></th:block>
		<!-- //SNB -->	
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">상품관리</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">포인트 관리</a></li>
					<li><a href="">상품관리</a></li>
				</ol>
			</div>
			<div class="clearfix mtXs">
				<h3 class="cntTitLg fl">상품 리스트</h3>
				<div class="btnWrap fr"><a href="" class="btnDefault">상품등록</a></div>
			</div>
			<form name="frm" id="frm" method="post">
			<input type="hidden" name="pageNo" id="pageNo"  th:value="${paging.pageNo}" />	
			<input type="hidden" name="seq" id="seq">		
			<table class="tblTypeA mtXs">
				<colgroup>
					<col width="21%">
					<col>
					<col width="10%">
					<col width="17%">
				</colgroup>
				<thead>
					<tr>
						<th>상품 미리보기</th>
						<th>상품명</th>
						<th>구매수</th>
						<th>등록일</th>
					</tr>
				</thead>
				<tbody>
				    <th:block th:if="${totalCnt == 0}">
					<tr>
 						<td colspan="4" class="noData">
							<p class="ico"><img src="/resources/images/contents/ico_nodata03.gif" alt=""></p>
							등록된 정보가 없습니다.
						</td>
					</tr>
					</th:block>
					<th:block th:if="${totalCnt > 0}">
						<tr th:onclick="|goDetail( ${info.seq} )|" th:each="info : ${list}">
							<td><div class="thumbProd"><img th:src="|/img/${info.product_img}|" alt=""></div></td>
							<td class="tal" th:text="${info.product_name}">
							<td th:text="|${info.buy_total}개|">
							<td th:text="${info.reg_dt}">
						</tr>
					</th:block>
				</tbody>
			</table>
			<!-- paging -->
			<th:block th:include="admin/layout/common_paging"></th:block>
			<!-- // Paging -->
			</form>
			<div class="btnWrap mtSm"><button id="btnReg" class="btnDefault">상품등록</button></div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('4', '0', '0'); //menu script
	
    $('#btnReg' ).click( function() {
        location.href="productregform";
    });	 
});

function goDetail(seq)
{
	frm.seq.value = seq;
	frm.action = "productdetail";
	frm.submit();
}
</script>	