<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">

	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=2" th:include="admin/pay/pay_menu"></th:block>
		<!-- //SNB -->
		
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">요금제 정보</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">결제관리</a></li>
					<li><a href="">요금제 정보</a></li>
				</ol>
			</div>
			<form name="frm" id="frm" method="post">
			<input type="hidden" name="pageNo" id="pageNo"  th:value="${paging.pageNo}" />	
			<h3 class="cntTitLg">요금 리스트</h3>
			<table class="tblTypeA mtSm">				
				<thead>					
					<tr>
						<th>요금제 명</th>
						<th>상태</th>
						<th>가격</th>
						<th>서비스 기간</th>
						<th>구매건수</th>
						<th>최종 등록일</th>
					</tr>
				</thead>
				<tbody>					
					<tr th:each="info : ${list}">
						<td><a th:href="@{payplandetail(seq=${info.seq})}" th:text="${info.subject}"></a></td>
						<td th:text="${info.sts_name}">
						<td class="tar" th:text="|${info.price} 원|">
						<td th:text="|${info.period} 년|">
						<td th:text="${info.buy_count}">
						<td th:text="${info.reg_dt}">
					</tr>
				</tbody>
			</table>
			</form>
			<!-- btn -->
			<div class="btnWrap mtMmd">
			    <a th:href="@{payplanregform}" th:text="@{등록}" id="btnReg" class="btnDefault"></a>
			</div>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
	
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('5', '0', '0'); //menu script		
});
</script>

