	<ul class="tab typeA mtXl">
		<li><a th:href="@{detail(seq=${info.seq},menu='1')}" th:class="${menu == '1'}?active:no">결제내역</a></li>
		<li><a th:href="@{detail(seq=${info.seq},menu='2')}" th:class="${menu == '2'}?active:no">포인트 내역</a></li>
		<li><a th:href="@{detail(seq=${info.seq},menu='3')}" th:class="${menu == '3'}?active:no">미션현황</a></li>
		<li><a th:href="@{detail(seq=${info.seq},menu='4')}" th:class="${menu == '4'}?active:no">검진데이터</a></li>
	</ul>
			
	<th:block th:if="${menu == '1'}">
			<div class="bxSrchForm mtSm">
				<select name="pay_sts" id="pay_sts">
					<option value="">전체</option>
					<option value="Y" th:selected="${paging.pay_sts == 'Y'}">결제완료</option>
					<option value="C" th:selected="${paging.pay_sts == 'N'}">결제 취소</option>
				</select>
				<label for="" class="mlSMd">조회기간</label>
				<input type="text" name="searchFromDt" id="searchFromDt" class="datePic" th:value="${paging.searchFromDt}"> <span class="dash">~</span> <input type="text" name="searchToDt" id="searchToDt" th:value="${paging.searchToDt}"class="datePic">
				<button id="btnSearch" type="button" class="btnPrimary sizeSm">검색</button>
			</div>
			<table class="tblTypeA mtSm">
				<thead>
					<tr>
						<th>날짜</th>
						<th>상태</th>
						<th>결제 상품</th>
						<th>결제액</th>
						<th>합계</th>
						<th>결제 취소</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="$totalCnt == 0">
						<tr>
						<td colspan="6" class="noData">
							<p class="ico"><img src="/resources/images/contents/ico_nodata03.gif" alt=""></p>
							등록된 정보가 없습니다.
						</td>
						</tr>
					</th:block>
					<th:block th:if="$totalCnt > 0">
						<tr th:each="info : ${mlist}">
							<td th:text="${info.pay_dt}">
							<td th:class="${info.pay_sts == 'C'?colorB:empty}" th:text="${info.pay_sts_name}">
							<td th:class="${info.pay_sts == 'C'?colorB:empty}" th:text="${info.product_name}">
							<th:block th:if="${info.pay_sts == 'Y'}">
								<td th:class="${info.pay_sts == 'C'?colorB:empty}" th:text="|${info.pay_total_str} 원|">
								<td th:class="${info.pay_sts == 'C'?colorB:empty}" th:text="|${info.pay_total_str} 원|">
								<td><p class="btnWrap"><a href="" class="btnColorC">결제 취소</a></p></td>
							</th:block>
							<th:block th:if="${info.pay_sts == 'C'}">
								<td th:class="${info.pay_sts == 'C'?colorB:empty}" th:text="|-${info.pay_total_str} 원|">
								<td th:class="${info.pay_sts == 'C'?colorB:empty}" th:text="|-${info.pay_total_str} 원|">	
								<td class="colorB" >결제 취소 완료</td>					
							</th:block>
						</tr>
					</th:block>
				</tbody>
			</table>
	</th:block>
	<th:block th:if="${menu == '2'}">
	<!--  포인트 내역  -->
			<div class="bxSrchForm mtSm">
				<select name="use_yn">
					<option value="">전체</option>
					<option value="Y" th:selected="${paging.use_yn == 'Y'}">적립</option>
					<option value="P" th:selected="${paging.use_yn == 'P'}">사용</option>
				</select>
				<label for="" class="mlSMd">조회기간</label>
				<input type="text" name="searchFromDt" id="searchFromDt" class="datePic" th:value="${paging.searchFromDt}"> <span class="dash">~</span> <input type="text" name="searchToDt" id="searchToDt" th:value="${paging.searchToDt}"class="datePic">
				<button type="button" id="btnSearch" class="btnPrimary sizeSm">검색</button>
			</div>
			<table class="tblTypeA mtSm">
				<thead>
					<tr>
						<th>날짜</th>
						<th>항목</th>
						<th>포인트</th>
						<th>잔여포인트</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="$totalCnt == 0">
						<tr>
						<td colspan="4" class="noData">
							<p class="ico"><img src="/resources/images/contents/ico_nodata03.gif" alt=""></p>
							등록된 정보가 없습니다.
						</td>
						</tr>
					</th:block>
					<th:block th:if="$totalCnt > 0">				
						<tr th:each="info : ${plist}">
							<td th:text="${info.reg_dt}">
							<td class="tal" th:text="${info.content}">
							<td th:text="${info.str_point}">
							<td th:text="|${info.total_point} 원|">
						</tr>
					</th:block>
					<tr>
						<td>2019.12.31 15:00</td>
						<td class="tal colorB">포인트 몰구매 (스타벅스쿠폰)</td>
						<td class="colorB">-4,000</td>
						<td class="colorB">-7,400원</td>
					</tr>
					<tr>
						<td>2019.12.31 15:00</td>
						<td>미션공유</td>
						<td>300</td>
						<td>11,400원</td>
					</tr>
				</tbody>
			</table>	
	</th:block>
	<th:block th:if="${menu == '3'}">
		<!--  미션 현황  -->
			<div class="bxSrchForm mtSm">
				<label for="" class="mlSMd">조회기간</label>
				<input type="text" name="searchFromDt" id="searchFromDt" class="datePic" th:value="${paging.searchFromDt}"> <span class="dash">~</span> <input type="text" name="searchToDt" id="searchToDt" th:value="${paging.searchToDt}"class="datePic">
				<button type="button" id="btnSearch" class="btnPrimary sizeSm">검색</button>
			</div>
			<table class="tblTypeA mtSm">
				<thead>
					<tr>
						<th>날짜</th>
						<th>목표</th>
						<th>결과</th>
						<th>달성여부</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="$totalCnt == 0">
						<tr>
						<td colspan="4" class="noData">
							<p class="ico"><img src="/resources/images/contents/ico_nodata03.gif" alt=""></p>
							등록된 정보가 없습니다.
						</td>
						</tr>
					</th:block>
					<th:block th:if="$totalCnt > 0">				
						<tr th:each="info : ${slist}">
							<td th:text="${info.reg_dt}">
							<td>7000보</td>
							<td th:text="${info.result}">
							<td th:text="${info.succ_yn_name}">
						</tr>
					</th:block>
					
					<tr>
						<td>2019.12.31</td>
						<td>6000보</td>
						<td>4,103보</td>
						<td></td>
					</tr>
					<tr>
						<td>2019.12.31</td>
						<td>6000보</td>
						<td>-</td>
						<td></td>
					</tr>
				</tbody>
			</table>		
	</th:block>
	
	<th:block th:if="${menu == '4'}">
		<!-- 검진데이터  -->
			<div class="bxSrchForm mtSm">
				<label for="" class="mlSMd">조회기간</label>
				<input type="text" name="searchFromDt" id="searchFromDt" class="datePic" th:value="${paging.searchFromDt}"> <span class="dash">~</span> <input type="text" name="searchToDt" id="searchToDt" th:value="${paging.searchToDt}"class="datePic">
				<button type="button" id="btnSearch" class="btnPrimary sizeSm">검색</button>
			</div>
			<table class="tblTypeA mtSm">
				<thead>
					<tr>
						<th>검진일</th>
						<th>제목</th>
						<th>병원</th>
						<th>위험단계</th>
						<th>검진결과</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="$totalCnt == 0">
						<tr>
						<td colspan="6" class="noData">
							<p class="ico"><img src="/resources/images/contents/ico_nodata03.gif" alt=""></p>
							등록된 정보가 없습니다.
						</td>
						</tr>
					</th:block>
					<th:block th:if="$totalCnt > 0">				
						<tr th:each="info : ${plist}">>
							<td th:text="${info.chk_dt}">
							<td class="tal" th:text="${info.subject}">
							<td th:text="${info.h_name}">
							<td th:text="${info.result_name}">
							<td><p class="btnWrap"><a href="javascript:openLayer('.popHscreen');" class="btnColorC">보기</a></p></td>
						</tr>
					</th:block>
				</tbody>
			</table>		
	</th:block>
	
	<!-- paging -->
	<th:block th:include="admin/layout/common_paging"></th:block>
