<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">
	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=1" th:include="admin/member/member_menu"></th:block>
		<!-- //SNB -->
		<!-- contents -->
		<form name="frm" id="frm" method="post">
		<input type="hidden" name="seq" id="seq" th:value="${info.seq}">
		<input type="hidden" name="mem_sts" id="mem_sts" th:value="${info.mem_sts}">
		<input type="hidden" name="pageNo" id="pageNo"  th:value="${paging.pageNo}" />	
				
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">[[${info.mem_sts_name}]] 상세</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">회원관리</a></li>
					<li><a href="">[[${info.mem_sts_name}]]</a></li>
				</ol>
			</div>			
			<div class="bxCnt mtMmd">				
				<table class="tblTypeB">
					<colgroup>
						<col width="100px">
						<col>
						<col width="115px">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th>아이디</th>
							<td th:text="${info.id}">
							<th>비밀번호</th>
							<td><p class="btnWrap"><a href="javascript:openLayer('.popSendPw');" class="btnColorC w50">임시 비밀번호 발송</a></p></td>
						</tr>
						<tr>
							<th>성명</th>
							<td th:text="${info.name}">
							<th>핸드폰</th>
							<td th:text="${info.phone}">
						</tr>
						<tr>
							<th>생년월일</th>
							<td th:text="${info.birthday}">
							<th>성별</th>
							<td th:text="${sex_name}">
						</tr>
						<tr>
							<th>요금제</th>
							<td>BLUE</td>
							<th>요금종료일</th>
							<td>2020.12.31. 17:15</td>
						</tr>
						<tr>
							<th>가입일</th>
							<td th:text="${reg_dt}">
							<th>최종접속일</th>
							<td th:text="${last_login_dt}">
						</tr>
						<tr>
							<th>약관 동의일</th>
							<td th:text="${agree_dt}">
							<th>마케팅동의</th>
							<td th:text="${mark_chk}">
						</tr>
						<tr>
							<th>회원상태</th>
							<td th:text="${mem_sts_name}">
							<th>최종마케팅 동의일</th>
							<td th:text="${mark_dt}">
						</tr>
						<tr>
							<th>검진데이터<br>연동 병원</th>
							<td colspan="3">
								<ul th:each="info : ${chklist}">
									<li th:text="|${info.h_name}(info.chk_dt)}|"></li>
								</ul>
							</td>
						</tr>				
					</tbody>
				</table>
				
				<div class="btnWrap mtSm tac">
					<th:block th:if="${info.mem_sts == '2'}">
						<button id="btnDelete" class="btnColorA">회원탈퇴처리</button>
						<button id="btnFree" class="btnColorA">휴면회원처리</button>
					</th:block>
					<th:block th:if="${info.mem_sts == '4'}">
						<button id="btnRestore" class="btnColorA">회원복구</button>
						<button id="btnCompleteDelete" class="btnColorA">완전삭제</button>
					</th:block>
					<button id="btnList"   class="btnDefault">목록</button>
				</div>
			</div>
			<!--  결제 내역/포인트 내역/미션현황/검진데이터  -->
			<th:block th:with="menu=${paging.menu}" th:include="admin/member/member_bottom_menu"></th:block>

			</form>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->


<!-- laeyr poup - 임시비밀번호 발송 -->
<th:block th:include="admin/member/pass_create_form"></th:block>
<!-- //laeyr poup - 임시비밀번호 발송 -->
	
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('1', '0', '0'); //menu script
	// 탈퇴 처리
	$("#btnDelete").click(function(){
		var params = {
				"seq"   : $("#mem_seq").val(),
				"mem_sts" : "4", 
				"use_yn" : "N"
		};

		url = "delete";
		url2 = "list";
		goJsonInput(params, url, url2);			
	});
	// 휴면회원처리
	$("#btnFree").click(function(){
		var params = {
				"seq"   : $("#mem_seq").val(),
				"mem_sts" : "3", 
				"use_yn" : "Y"
		};

		url = "delete";
		url2 = "list";
		goJsonInput(params, url, url2);			
	});	
	// 회워복구
	$("#btnRestore").click(function(){
		var params = {
				"seq"   : $("#mem_seq").val(),
				"mem_sts" : "2", 
				"use_yn" : "Y"
		};

		url = "delete";
		url2 = "dellist";
		goJsonInput(params, url, url2);			
	});	

	// 완전삭제
	$("#btnCompleteDelete").click(function(){
		var params = {
				"seq"   : $("#mem_seq").val(),
				"mem_sts" : "0", 
				"use_yn" : "N"
		};

		url = "delete";
		url2 = "dellist";
		goJsonInput(params, url, url2);			
	});	
	$("#btnList").click(function(){
		
		var url = "";
		if ($("#mem_sts").val() == "2")  // 정회원
		{
			url = "list";
		} else if($("#mem_sts")val() == "3")  // 휴면 회원
		{
			url = "freelist";
		}else if($("#mem_sts").val() == "4")  // 탈퇴회원
		{
			url = "dellist";
		}
		location.href = url;
	});
	
	$("#btnSearch").click(function(){
		frm.action = "detail";
		frm.submit();
	})#
});
</script>