<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">
	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=1" th:include="admin/member/member_menu"></th:block>
		<!-- //SNB -->
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">정회원 상세</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">회원관리</a></li>
					<li><a href="">정회원</a></li>
				</ol>
			</div>			
			<div class="bxCnt mtMmd">
				<form name="frm" id="frm" method="post">
				<input type="hidden" name="seq" id="seq" th:value="${info.seq}">
				<table class="tblTypeB">
					<colgroup>
						<col width="100px">
						<col>
						<col width="115px">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th>아이디</th>
							<td th:text="${info.id}">
							<th>비밀번호</th>
							<td><p class="btnWrap"><a href="javascript:openLayer('.popSendPw');" class="btnColorC w50">임시 비밀번호 발송</a></p></td>
						</tr>
						<tr>
							<th>성명</th>
							<td th:text="${info.name}">
							<th>핸드폰</th>
							<td th:text="${info.phone}">
						</tr>
						<tr>
							<th>생년월일</th>
							<td th:text="${info.birthday}">
							<th>성별</th>
							<td th:text="${sex_name}">
						</tr>
						<tr>
							<th>요금제</th>
							<td>BLUE</td>
							<th>요금종료일</th>
							<td>2020.12.31. 17:15</td>
						</tr>
						<tr>
							<th>가입일</th>
							<td th:text="${reg_dt}">
							<th>최종접속일</th>
							<td th:text="${last_login_dt}">
						</tr>
						<tr>
							<th>약관 동의일</th>
							<td th:text="${agree_dt}">
							<th>마케팅동의</th>
							<td th:text="${mark_chk}">
						</tr>
						<tr>
							<th>회원상태</th>
							<td th:text="${mem_sts_name}">
							<th>최종마케팅 동의일</th>
							<td th:text="${mark_dt}">
						</tr>
						<tr>
							<th>검진데이터<br>연동 병원</th>
							<td colspan="3">
								<ul th:each="info : ${chklist}">
									<li th:text="|${info.h_name}(info.chk_dt)}|"></li>
								</ul>
							</td>
						</tr>				
					</tbody>
				</table>
				</form>
				<div class="btnWrap mtSm tac">
					<button id="btnDelete" class="btnColorA">회원탈퇴</button>
					<button id="btnList"   class="btnDefault">목록</button>
				</div>
			</div>
			<!--  결제 내역/포인트 내역/미션현황/검진데이터  -->
			<th:block th:with="menu=${paging.menu}" th:include="admin/member/member_bottom_menu"></th:block>

		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->


<!-- laeyr poup - 임시비밀번호 발송 -->
<th:block th:include="admin/member/pass_create_form"></th:block>
<!-- //laeyr poup - 임시비밀번호 발송 -->
	
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('1', '0', '0'); //menu script
	
	$("#btnDelete").click(function(){
		var params = {
				"seq"   : $("#mem_seq").val(),
				"mem_sts" : "4", 
				"use_yn" : "N"
		};

		url = "delete";
		url2 = "list";
		goJsonInput(params, url, url2);			
	});
	$("#btnList").click(function(){
		location.href="list";
	});
});
</script>