<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/layout/main_layout">

<th:block layout:fragment="content_body">

	<!-- contaier -->
	<div class="innerWrap">
		<!-- SNB -->
		<th:block th:with="menu=1" th:include="admin/member/member_menu"></th:block>
		<!-- //SNB -->
		
		<!-- contents -->
		<div class="contents">
			<div class="cntTitWrap">
				<h2 class="cntTitXL fl">정회원</h2>
				<ol class="bcNav">
					<li><a href="" class="home">Home</a></li>
					<li><a href="">회원관리</a></li>
					<li><a href="">정회원</a></li>
				</ol>
			</div>
			<!-- 검색 영역 -->
			<form name="frm" id="frm" method="post">
			<input type="hidden" name="pageNo" id="pageNo"  th:value="${paging.pageNo}" />			
			<div class="bxCnt mtMmd">
				<table class="tblTypeB">
					<colgroup>
						<col width="100px">
						<col>
						<col width="100px">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th>아이디</th>
							<td><input type="text" name=""></td>
							<th>연락처</th>
							<td><input type="text" name=""></td>
						</tr>
						<tr>
							<th>성명</th>
							<td><input type="text" name=""></td>
							<th>생년월일</th>
							<td><input type="text" name=""></td>
						</tr>
						<tr>
							<th>가입일</th>
							<td><input type="text" value="" class="datePic"> <span class="dash">~</span> <input type="text" value="" class="datePic"></td>
							<th>최종접속일</th>
							<td><input type="text" value="" class="datePic"> <span class="dash">~</span> <input type="text" value="" class="datePic"></td>
						</tr>				
					</tbody>
				</table>
				<div class="btnWrap mtSm tac">
					<a href="" class="btnPrimary">검색하기</a>
				</div>
			</div>
			<!-- //검색 영역 -->
			<div class="clearfix mtSm">
				<div class="txtBbs fl mtSMd">검색 <span class="colorA">[[${totalCnt}]]</span> 명 / 전체 <span class="colorA">[[${total}]]</span> 명</div>
				<div class="btnWrap fr"><a href="" class="btnDefault">회원등록</a></div>
			</div>
			<table class="tblTypeA mtSm">
				<thead>
					<tr>
						<th><input type="checkbox" name="all" class="chckAll"></th>
						<th>ID</th>
						<th>연락처</th>
						<th>성명</th>
						<th>생년월일</th>
						<th>가입일</th>
						<th>최종 접속일</th>
					</tr>
				</thead>
				<tbody>				
					<tr th:each="info : ${list}">
						<td><input type="checkbox" name="groupid" id="groupid" class="groupid" th:value="${info.seq}"></td>
						<td class="tal"><a th:href="@{detail(seq=${info.seq})}" th:text="${info.id}"></a></td>
						<td th:text="${info.phone}">
						<td th:text="${info.name}">
						<td th:text="${info.birthday}">
						<td th:text="${info.reg_dt}">
						<td th:text="${info.last_login_dt}">
					</tr>
				</tbody>
			</table>
			<!-- paging -->
			<th:block th:include="admin/layout/common_paging"></th:block>
			</form>
		</div>
		<!-- //contents -->
	</div>
	<!-- //contaier -->
	
</th:block>
</html>

<script>
$(document).ready(function() {
	load_fnc('1', '0', '0'); //menu script
	
    $('.chckAll' ).click( function() {
        $('.groupid' ).prop( 'checked', this.checked );
    } );
	
    $('#groupdelete').click(function() {
        var chklen = $("input[id=groupid]:checkbox:checked").length;
        var _text = "";
        var _idtext = "";
        if(chklen == 0){
            alert("삭제할 그룹을 선택해주세요");
            return;
        }else{
            var i = 1;
            $('#groupid:checked').each(function() {
                _idtext = _idtext+$(this).val().split(",")[0];
                _text= _text+$(this).val().split(",")[1];
                if(i<chklen){
                    _idtext =_idtext+",";
                    _text= _text+"</br>";
                }
                i++;
            });
            $("#grpmemberdel").modal("show");
            $("#delgrp").html(_text);
            $("#selgrpuserId").val(_idtext);
        }
    }); 	
});
</script>	
